* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* website header styles */
.navbar {
  z-index: 9999;
}
.navbar-brand img {
  width: 80px;
  height: auto;
}
.nav-link {
  font-weight: bold;
}
.nav-link::first-letter {
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.nav-link:hover::first-letter {
  color: #399918;
  background-color: #00000034;
}
/* footer icon styles */
.footer-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
  background-color: transparent;
}

.footer-icon-container:hover {
  background-color: #0000003a;
}

/* app styles */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  transition: left 0.3s;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.dropdown-menu {
  margin-left: -130px;
}
.badge {
  margin-top: 8px; /* Adjust this value as needed */
}


/* responsive styles */
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}
@media (max-width: 991.98px) {
  .sidebar {
    left: -100%;
  }
  .show-sidebar{
    left: 0;
    background-color: #fff;
  }
}
